<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container p-2"><%- body %></div>
    <%- script %>
  </body>
</html>
